*{

    margin: 0px;
    background-color: #f2f2f2;
}

.heading{

    color: orange;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 2px 3px black;
    background-color: slateblue;
    height: 80px;
    padding-top: 20px;
    
}
p{

   padding-top: 10px;
}

input,textarea{

    background: white;

}

.andwala{

    color: yellow;
    text-shadow: 1px 2px 4px red;
}
.btn{

    
    padding: 5px 15px 5px 15px; 
    background-color: white;
    color: orange;
    border: 1px solid orange;
    font-weight: 500px;
    
}

.no{

    padding: 5px 15px 5px 15px;


}
.btn:hover{

        background-color: orange;
        color: black;

}