*{

    margin: 0px;
    /* background-color: #f2f2f2; */
}

.heading{

    color: orange;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 2px 3px black;
    background-color: slateblue;
    padding: 40px;
    padding-top: 20px !important;
    
}
p{

   padding-top: 10px;
}

input,textarea{

    background-color: white;
   
}

.andwala{

    color: white;
    text-shadow: 2px 2px 5px red;
}
.btn{

    
    padding: 5px 15px 5px 15px; 
    background-color: white;
    color: orange !important;
    border: 1px solid orange !important;
    font-weight: 500px;
    
}

.no{

    padding: 5px 15px 5px 15px;


}
.btn:hover{

        background-color: orange;
        color: black !important;

}